<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>golnkr</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div class="container">
    <div class="nice-wrap">
        <form action="/gomake">
            <input class="nice-textbox" name="url" placeholder="Enter Url" type="text"/>
            <input class="nice-btn" type="submit" value="GO" style="float: right">
        </form>
    </div>
    <h2>{{ . }}</h2>
    <img src="https://cdn.thenewstack.io/media/2016/01/golangtoy-752x1024-2.png"/>
  </div>
</body>
</html>